/*cambio*/
body {
    background-color: #81807e;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    color: orange;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e69500;
}

.return-button {
    margin-top: 20px;
    display: block;
    text-align: center;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.return-button:hover {
    background-color: #777;
}
